* {
	font-family: monospace;
}


body{
    margin: 0px;
    background: rgb(94, 94, 94);
    color:white;
}

canvas{
    /* width: 100vw;
    height:100vv; */
    background: rgb(0, 0, 0);
}

.header {
    position: fixed;
    top: 5px;
    z-index: 1000;
    text-align: center;
    width: 100vw;
    display: flexbox;
}

a{
    position: relative;
    top: 20px;
    left: 5px;
    z-index: 1000;
    align-items: left;

    background-color: #9f2d2d; /* Green */
    border: none;
    color: white;
    padding: 7.5px 32px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
a:hover{
    background-color: #e88b8b; /* Green */
}
a:active{
    background-color: #4e1717; /* Green */
}

.wallet{
    position: fixed;
    top: 5px;
    text-align: center;
    width: 100vw;
    display: flexbox;
    z-index: 1000;
}